<div class="background">
    <h1 class="header">
        Welcome to the Trading Card Game (TCG) page
    </h1>
    <div>
        <p class="intro">
        On this sight you will find a searcher that will let you search out a pokemon and the card will show with the information on the card
        <br>
        you will also find a number searcher which will give you information on a card in Magic the Gathering.
        </p>
    </div>
    <div class="flexy">
        <div> 
            <p>
                On this sight you will find three pages that you can interact with.
            </p>
            <p>
                    One is the home page.
                </p>
            <p>
                One is a pokemon card finder when you search a pokemon you will get back some images of cards of that pokemon.
            </p>
            <p>
                And the last one you will find a random number generator that will search for a random card from the wizards of the coast database and you will get back a card from Magic The Gathering. 
            </p>
        </div>
        
        <div class="rightside">
            <button (click)="performSearch(searchTerm)" class="btn btn-h">Random joke</button>
            <p class="setup">
                {{joke.setup}}
            </p>
            <p class="punchline">
                {{joke.punchline}}
            </p>
        </div>

    </div>    
    <div class="end">
        <p>
            I do not own any of these products and i do not claim them as my own all rights to the respective owners which is <a href="https://www.nintendo.co.uk/" target="_blank" class="link">Nintendo</a> and <a href="http://company.wizards.com/" target="_blank" class="link">Wizards of the coast</a>.
        </p>
    </div>
</div>

